.advges {
  background-color: @bg-grey;
  padding: 20px;
}

.advges__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 15px;
}

.advges__title {
  font-size: @fs-main;
  line-height: @lh-small;
  font-weight: @fw-bold;
  color: @txt-black;
}

.advges__description {
  font-size: @fs-small;
  line-height: @lh-small;
  font-weight: @fw-normal;
  color: @txt-dark;
}
