.advges {
  background-color: @bg-grey;
}

.advges__list {
  list-style: none;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0 39px;
}

.advges__title {
  font-size: @fs-main;
  line-height: @lh-small;
  font-weight: @wf-bold;
  color: @txt-black;
}

.advges__description {
  font-size: @fs-small;
  line-height: @lh-small;
  font-weight: @fw-normal;
  color: @txt-dark;
}

.advges__div-image {
  padding-left: 82px;
  padding-right: 81px;
}

