.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contacts__question {
  font-size: @fs-big;
  color: @txt-dark;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 17px;
  margin-left: 34px;
  margin-right: 33px;
}

.contacts__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contact__item {
  padding-top: 27px;
}

.contacts__title {
  font-size: @fs-main;
  margin-bottom: 8px;
  margin-top: 27px;
}

.contacts__phone {
  color: @txt-red;
  font-size: @fs-big;
}

.contacts__mail {
  color: @txt-red;
  font-size: @fs-big;
}

.contacts__address {
  color: @txt-red;
  font-size: @fs-big;
  margin: 0 26px;
}
