.footer {
  background-color: @bg-white;
}

.footer__wraper {
  margin: 40px;
  text-align: center;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright-text {
  font-size: @fs-small;
  line-height: @lh-min;
  text-align: center;
  color: @txt-dark;
  font-weight: @fw-normal;
}

.footer__copyright-link {
  background-size: 27px 34px;
  background-position: center;
  background-repeat: no-repeat;
}
