.form__text {
  font-size: @fs-small;
  line-height: @lh-main;
  font-weight: @fw-normal;
  text-align: center;
  margin-left: 25px;
  margin-right: 24px;
}

.form__fieldset {
  padding: 0 22px;
  border: none;
}

.form__legend {
  font-size: @fs-small;
  line-height: @lh-min;
  color: @txt-red;
  text-transform: @transform;
  text-align: center;
  margin: 20px;
}

.form__list {
  list-style: none;
  padding: 0;
}

.form__item {
  font-size: @fs-small;
  font-weight: @fw-normal;
  line-height: @lh-main;
  text-transform: @transform;
}

.form__input {
  width: 254px;
  height: 59px;
  border: @border-grey;
  border-radius: @br-min;
  font-size: @fs-main;
  font-weight: @fw-normal;
  color: @txt-dark;
  padding-left: 22px;
}

.form__input--checkbox {
  width: 35px;
  height: 35px;
}

.form__input-radio {
  width: 37px;
  height: 36px;
}

.form__input-form {
  width: 276px;
  height: 59px;
  background-color: @btn-green;
  border-radius: @br-min;
  border: @border-green;
  color: @txt-white;
  font-size: @fs-main;
  font-weight: @fw-bold;
  text-transform: @transform;
  text-align: center;
  margin: 0 22px;
}

.form__comment {
  font-size: @fs-small;
  line-height: @lh-main;
  text-align: center;
  text-transform: @transform;
  color: @txt-dark;
}

.form__star {
  color: @txt-red;
}
