.gallery {
  padding: 10px 0;
}

.gallery__item {
  background-color: @bg-grey;
}

.gallery__challenge {
  font-size: @fs-small;
  line-height: @lh-main;
  font-weight: @fw-normal;
  text-align: center;
  margin: 20px 10px;
}
