.main__top {
  background-image: url(/source/img/back-mobile-1-x-jpg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: @bg-dark;
  margin: 0;
}

.main__top-text {
  font-weight: @fw-normal;
  text-align: center;
  color: @txt-white;
  font-size: 24px;
  margin-left: 50px;
  margin-right: 49px;
  padding-top: 30px;
}

.main__image {
  margin-left: -100px;
}

.main__app {
  background-color: @bg-black;
}

.main__app-button {
  border-bottom: @border-3white;
  background-color: @bg-black;
  width: 281px;
  height: 55px;
  border-radius: @radius;
  margin-left: 19px;
  margin-right: 20px;
  margin-top: 28px;
  margin-bottom: 32px;
  padding: 0;
}

.main__app-link {
  color: @txt-white;
  text-align: center;
  font-size: @fs-main;
  font-weight: @fw-bold;
  list-style: @lh-min;
}

.main__app-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding-left: 57px;
  padding-right: 58px;
  align-items: baseline;
}

.main__app-text {
  color: @txt-white;
  font-size: @fs-small;
  line-height: @lh-small;
  text-align: center;
  margin: 0 43px;
  padding-bottom: 35px;
  padding-top: 32px;
}

.main__text {
  font-size: @fs-small;
  line-height: @lh-main;
  color: @txt-dark;
  text-align: center;
  margin: 56 40px;

}
