html {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  width: @min-width;
  margin: 0;
  padding: 0;
  font-size: @fs-small;
  line-height: @lh-small;
  font-style: @font-style;
  background-color: @bg-white;
  text-transform: @transform;
}

img {
  max-width: 100%;
  height: auto;
}
