.modal {
  background-color: @bg-white;
  box-shadow: @shadow-form;
}

.modal__head {
  font-size: @fs-main;
  line-height: @lh-small;
  font-weight: @fw-bold;
  text-align: center;
  color: @txt-black;
  padding-top: 46px;
  margin: 0;
}

.modal__text {
  font-size: @fs-small;
  line-height: @lh-small;
  text-align: center;
  color: @txt-dark;
  padding: 0 22px;
}

.modal__button {
  width: 276px;
  height: 59px;
  background-color: @btn-green;
  border: @border-green;
  border-radius: @br-min;
  color: @txt-white;
  font-size: @fs-main;
  line-height: @lh-main;
  text-align: center;
  text-transform: @transform;
  margin: 43px 22px 52px;
  padding: 0;
}
