.modal {
  padding: 20px 0;
  box-shadow: @shadow-form;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 65%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 65%;
    margin: 0 auto;
  }
}

.modal__wrapper {
  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.modal__head {
  font-size: @fs-18;
  line-height: @lh-24;
  font-weight: @fw-bold;
  text-align: center;
  color: @txt-black;

  @media (min-width: @tablet-width) {
    font-size: @fs-30;
    line-height: @lh-40;
  }
}

.modal__text {
  font-size: @fs-14;
  line-height: @lh-24;
  text-align: center;
  color: @txt-dark;
  margin: 20px 0;

  @media (min-width: @tablet-width) {
    font-size: @fs-18;
    margin-left: 45px;
    margin-right: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 40px;
  }
}

.modal__button-error {
  width: 100%;
  background-color: @btn-green;
  border: @border-green;
  border-radius: @br-min;
  color: @txt-white;
  font-weight: @fw-bold;
  font-size: @fs-18;
  line-height: @lh-30;
  text-align: center;
  text-transform: @txt-upper;
  padding: 15px 20px;
  margin: 30px 0;
}

.modal__button-success {
  width: 100%;
  background-color: @btn-green;
  border: @border-green;
  border-radius: @br-min;
  color: @txt-white;
  font-size: @fs-18;
  font-weight: @fw-bold;
  line-height: @lh-30;
  text-align: center;
  text-transform: @txt-upper;
  padding: 15px 20px;
  margin: 30px 0;
}

.modal__wrapper-btn {
  background-color: @bg-grey;

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}
