.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @desktop-width) {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.nav__menu {
  box-shadow: @shadow-menu;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

.nav__button {
  width: 50px;
  height: 24px;
  margin-left: auto;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.nav__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    margin-left: auto;
  }
}

.nav__item {
  padding: 20px 0;
  box-shadow: @shadow-menu;

  @media (min-width: @desktop-width) {
    padding-left: 41px;
    padding-right: 41px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.nav__link {
  color: @txt-white;
  font-weight: @fw-bold;
  text-transform: @txt-upper;
  font-size: @fs-medium;
  line-height: 32px;
}
