.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: @min-width;
  margin: 0 auto;

}

.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

}


.nav__button {
  width: 281px;
  height: 55px;

  font-size: @fs-main;
  line-height: @lh-min;

  border-radius: @radius;
  color: @txt-dark;
  text-align: center;
}
