.offer {
  font-size: @fs-big;
  font-weight: @fw-light;
  color: @txt-dark;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.offer__text {
  margin: 0 0 20px;
}

.offer__text:last-child {
  margin-bottom: 0;
}
