.page {
  font-family: @ff-main;
  font-weight: @fw-normal;
  text-transform: none;
  background-color: @bg-white;
  background-position: top center;
  background-repeat: no-repeat;
  min-width: @min-width;
  margin: 0;
}
