.panorama__image-text {
  background-color: @bg-red;
  color: @txt-white;
  text-transform: @transform;
  font-size: @fs-min;
  line-height: @lh-small;
  font-weight: @fw-bold;
}

.panorama__massage {
  width: 280px;
  height: 192px;
  background-color: @bg-grey;
  padding: 0 20px;
  padding-top: 0;
}

.panorama__name {
  font-size: @fs-small;
  line-height: @lh-small;
  font-weight: @fw-bold;
  color: @txt-dark;
}

.panorama__time {
  font-size: @fs-min;
  line-height: @lh-small;
  font-weight: @fw-light;
  color: @txt-dark;
  text-transform: @transform;
}

.panorama__image-img {
  background-color: @bg-grey;
}

.panorama__text {
  font-size: @fs-small;
  line-height: @lh-small;
  color: @txt-dark;
}

.panorama__likes {
  display: flex;
  flex-direction: row;
}

.panorama__likes-text {
  font-size: @fs-min;
  line-height: @lh-small;
  color: @txt-red;
  text-transform: @transform;
  margin-left: 19px;
}
