.review {
  padding: 20px 0;
}

.review__list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.review__text {
  font-size: @fs-small;
  line-height: @lh-main;
}

.review__name {
  font-size: @fs-main;
  line-height: @lh-main;
}

.slider {
  text-align: center;
}
