.review__list {
  list-style: none;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;
  background-color: @bg-white;
}

.review__text {
  line-height: @lh-main;
  margin: 0 19px;
}

.review__name {
  font-size: @fs-main;
  line-height: @lh-main;
}

.slider {
  text-align: center;
}
