.social {
  padding: 10px 0;
}

.social__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.social__item {
  border: @border-3dark;
  opacity: 0.1;
  width: 46px;
  height: 46px;
  border-radius: @radius;
  margin: 0 8px;
}

.social__link {
  fill: @fill-red;
}

.social__link--twitter {
  background-size: 18px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--facebook {
  background-size: 9px 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--youtube {
  background-size: 15px 13px;
  background-position: center;
  background-repeat: no-repeat;
}
