.tariff {
  background-color: @bg-grey;
  padding: 30px 20px;
  overflow: hidden;
}

.tariff__table {
  text-transform: @txt-upper;
  border-collapse: collapse;
  width: calc(280px * 3);
}

.tariff__table-th {
  background-color: @bg-dark;
  border-left: @border-grey;
  border-right: @border-grey;
  color: @txt-white;
  text-align: center;
}

.tariff__table-td {
  border: @border-grey;
  border-top: none;
  background-color: @bg-white;
  color: @txt-dark;
  font-size: @fs-small;
  text-align: left;
  padding-left: 22px;
}

.tariff__table-name {
  font-size: @fs-main;
  line-height: @lh-main;
  font-weight: @fw-bold;
}

.tariff__table-price {
  font-size: @fs-big;
  line-height: @lh-main;
  font-weight: @fw-normal;
}

.tariff__table-yes {
  fill: @icon-red;
}

.tariff__table-no {
  fill: @icon-green;
}
