.tariff {
  background-color : @bg-grey;
  background-repeat: no-repeat;
  background-size  : auto;
  padding          : 20px 0;
  overflow         : hidden;
}

.tariff__wrapper {
  overflow: hidden;
}

.tariff__table {
  text-transform : @txt-upper;
  border-collapse: collapse;
  width          : calc(280px * 3);

  @media (min-width: @tablet-width) {
    width        : calc(153px * 4);
    margin-top   : 30px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    width : calc(234px * 4);
    margin: 60px auto;
  }
}

.tariff__table-th {
  background-color: @bg-dark;
  border-left     : @border-grey;
  border-right    : @border-grey;
  color           : @txt-white;
  text-align      : center;
}

.tariff__table-th-extra {
  background-color: @bg-grey;
  border          : none;

  @media (max-width: @tablet-width) {
    display: none;
  }
}

.tariff__table-td {
  border          : @border-grey;
  border-top      : none;
  background-color: @bg-white;
  color           : @txt-dark;
  font-size       : @fs-14;
  line-height     : @lh-24;
  text-align      : left;
  padding-left    : 22px;

  @media (min-width: @tablet-width) {
    text-align : center;
    font-size  : @fs-18;
    line-height: @lh-30;
  }
}

.tariff__table-td p {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tariff__table-td-extra {
  background-color: @bg-white;
  border          : @border-grey;
  color           : @txt-dark;
  text-align      : left;
  text-transform  : none;
  padding-left    : 15px;

  @media (max-width: @tablet-width) {
    display: none;
  }
}

.tariff__table-name {
  font-size  : @fs-18;
  line-height: @lh-30;
  font-weight: @fw-bold;

  @media (min-width: @tablet-width) {
    margin    : 0;
    margin-top: 19px;
    font-size : @fs-16;
  }

  @media (min-width: @desktop-width) {
    font-size : @fs-18;
    margin    : 0;
    margin-top: 23px;
  }
}

.tariff__table-price {
  font-size  : @fs-24;
  line-height: @lh-30;
  font-weight: @fw-light;

  @media (min-width: @tablet-width) {
    font-size    : @fs-18;
    margin       : 0;
    margin-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    font-size    : @fs-24;
    margin       : 0;
    margin-bottom: 21px;
  }
}

.tariff__table-yes {
  fill: @icon-green;
}

.tariff__table-no {
  fill: @icon-red;
}

.tariff__toggles {
  margin    : 20px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
